@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

/* header style */
.mobile-menu {
  display: none;
}
header {
  padding: 20px 100px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h2 {
  color: #3a3a3a;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
nav ul li {
  padding: 0 11px;
}
nav ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.fa-cart-shopping {
  font-size: 24px;
  color: orangered;
}
/* hero area style */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}
.hero-content h1 {
  color: #3a3a3a;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 134.615% */
}
.hero-content h1 span {
  display: block;
}
.hero-content p {
  color: #3a3a3a;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 505px;
  padding-bottom: 7px;
}
.hero-content button {
  padding: 8px 17px;
  border: none;
  border-radius: 41px;
  background: #e02c6d;
  color: white;
}

.hero-img img {
  border: 2px solid rgba(14, 226, 142, 0.961);
  border-radius: 50%;
  padding: 10px;
}
/* main section style */
main {
  padding: 20px 100px;
}
.platform {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: space-between;
  column-gap: 35px;
  padding: 5px 10px;
  box-shadow: 1px 1px 40px rgb(233 223 223);
}
.platform .img {
  width: 100%;
}
.platform .img img {
  width: 100%;
}
/* collection style */
.collection {
  padding: 30px 0;
}
.collection h1 {
  color: #3a3a3a;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 250% */
  text-align: center;
  margin-bottom: 15px;
}
.collection .card-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.collection .card {
  padding: 15px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.card img {
  width: 100%;
}
.card h2 {
  color: #18191f;
  font-feature-settings: 'liga' off;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 142.857% */
}
.card .rate {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
}
.card p {
  max-width: 196px;
}
.icon i {
  color: #fb8200;
}
.icon span {
  color: #5e6366;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.1px;
}

/* responsive style */
/* mobile or small devices responsive */
@media screen and (max-width: 576px) {
  /* header styley */
  .hide {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  header {
    padding: 10px 20px;
  }
  nav h2 {
    font-size: 20px;
  }
  /* hero section */
  .hero-section {
    flex-direction: column-reverse;
    padding: 15px 0;
    justify-content: start;
    align-items: center;
  }
  .hero-content {
    text-align: center;
  }
  .hero-content h1 {
    font-size: 37px;
    line-height: 45px;
  }
  .hero-content h1 span {
    display: inline;
  }
  .hero-img {
    width: 90%;
    margin: 0 auto;
  }
  .hero-img img {
    width: 100%;
  }
  .platform {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
    padding: 5px 10px;
    justify-content: center;
  }
  main {
    padding: 10px 20px;
  }
  /* collection */
  .collection .card-box {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* tablet or meduim devices responsive */
@media screen and (min-width: 576px) and (max-width: 960px) {
  /* header style */
  header {
    padding: 13px 50px;
  }
  nav h2 {
    font-size: 22px;
  }
  nav li a {
    font-size: 14px;
  }
  .hero-img {
    width: 90%;
    margin: 0 auto;
  }
  .hero-img img {
    width: 100%;
  }
  .hero-content h1 {
    font-size: 48px;
    line-height: 55px;
  }
  main {
    padding: 15px 50px;
  }
  /* collection */
  .collection .card-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
